@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// Fuente
$fuente: "Manrope", sans-serif;

// Colores
$cyanClaro: hsl(193, 38%, 86%);
$verdeNeon: #52ffa8;
$azulGrisaceo: hsl(217, 19%, 38%);
$azulGrisaceoOscuro: hsl(217, 19%, 24%);
$azulOscuro: hsl(218, 23%, 16%);